
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    background: #0d0f26;
    font-family: 'VT323', monospace;
    color: white;
}

main {
    width: 380px;
    height: auto;
    padding: 20px;
    background: #1b2551;
    border: 4px solid #7faaff;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(150,180,255,0.4);
    display: flex !important;
    flex-direction: column;
    align-items: center;
}
p{
  font-size: 2em;
}
.pet-image-container {
    background: #11172f;
    border: 3px solid #4f6ddb;
    border-radius: 5px;
    padding: 10px !important;
    margin-bottom: 20px;
    box-shadow: inset 0 0 12px rgba(0,0,0,0.6);
}

.pet-image {
    height: 140px;
    image-rendering: pixelated;
}

/* STAT PANEL */
.dashboard {
    background: #11172f;
    border: 3px solid #4f6ddb;
    border-radius: 5px;
    padding: 15px !important;
    width: 85%;
    font-size: 18px;
    line-height: 1.8;
    box-shadow: inset 0 0 12px rgba(0,0,0,0.6);
}

/* FF blue status text */
.dashboard span {
    color: #7faaff;
}

/* BUTTONS */
.button-container {
    margin-top: 20px !important;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button-container button {
    font-family: 'VT323', monospace;
    font-size: 16px !important;
    color: #ffffff !important;
    padding: 10px;
    width: 95px !important;
    height: 45px !important;
    
    background: linear-gradient(to bottom, #d7d7d7, #8f8f8f) !important;
    border: 3px solid #5a5a5a !important;
    border-radius: 6px;
    box-shadow: 0 4px #3a3a3a;
    transition: all 0.1s ease;
}

/* Button press animation */
.button-container button:active {
    transform: translateY(3px);
    box-shadow: 0 1px #3a3a3a;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}